

body{
font-family: 'Open Sans';
width: 100%;
height: 100%;
margin:0;
padding:0;
}

.wrapper{
    height: 100%;
}


.loginContainer{
    margin: auto;
    margin-top: 80px;
    width: 370px;
    height: 300px;
    padding: 50px;
    padding-top: 5.5%;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    margin-bottom:  10%;
}

input{
    margin: auto;
    width: 270px;
    padding: 12px 10px;
    margin: 8px 0;
    font-size: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;

}
.login-form{
    text-align: left;
    padding: inherit;
    padding-top: 8px;
    padding-bottom: 10px;

}

#inputPassword{
    margin-top: 2px;

}
label {
    width: 100px;
    margin: 5px 1px;
    height: 5px;
    display: inline-block;
}
#submit{
    width: 250px;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #c4586d;
    border-radius: 2px;
    background-color: rgba(237, 52, 70, 0.7);
}
.heading_regi{
    margin: auto;
    padding-top: 5%;
    text-align: center;
}

.registration{
    margin: auto;
    margin-top: 10%;
    height: 570px;
    width: 530px;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 11px;
    border: black 1px solid;

}
.register{
    margin: 0 auto;
    margin-top: 8%;
    width: 300px;

}
.r{
    width: 300px;
    text-align: left;
    padding: inherit;
    padding-top: 8px;
    padding-bottom: 10px;

}

#submit{
    width: 300px;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #c4586d;
    border-radius: 2px;
    background-color: rgba(237, 52, 70, 0.7);
}
.button {
font-size: 10px;
cursor: pointer;
}
.button:hover{
    opacity: 0.9;

}

.signin{
    margin: auto;
    border-radius: 1px solid red;
    margin-bottom: 200px;

}
#login-btn{
    padding: 10px 20px;
    margin-top: 5px;
    width: 270px;
    cursor: pointer;
    border: 1px solid #c4586d;
    border-radius: 1px;
    background-color: rgba(237, 52, 70, 0.7);

}

#login-btn:hover{
    opacity: 0.9;
}
a:link{
    color: black;
}
a:visited {
    color: black;
}
#link{
    padding-top: 15px;
    text-align: center;
}

#passlink{
    padding-top: 15px;
    text-align: center;
}

#main{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: -200px;
    height: auto;


}

.footer{
    color: white;
    padding: 1em;
    padding-left: 20px;
    padding-top: 20px;
    flex: 1;

    bottom:0;
    background-color: #232528;
    font-size: 12px;
}
.ff{
    color: #dbdde0;
}
.col{
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

.colleft{
    flex: 1;

}
.colcenter{
    flex: 4;
}

#copyright{
    float: right;
    padding: 1em;
    margin-top: 10%;
}
