body{
font-family: 'Open Sans';
width: 100%;
height: 100%;
margin:0;
padding:0;
/*background-color: hsl(0, 0%, 98%);*/
}


#inputPassword{
    margin-top: 2px;

}


.heading_regi{
    margin: auto;
    padding-top: 5%;
    text-align: center;
}

.register{
    margin: 0 auto;
    margin-top: 8%;
    width: 300px;

}
.r{
    width: 300px;
    text-align: left;
    padding: inherit;
    padding-top: 8px;
    padding-bottom: 10px;

}

.signin{
    margin: auto;
    border-radius: 1px solid red;
    margin-bottom: 200px;

}
a:link{
    color: black;
}
a:visited {
    color: black;
}
#link{
    padding-top: 15px;
    text-align: center;
}

#passlink{
    padding-top: 15px;
    text-align: center;
}

#main{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;


}

.footer{
    color: white;
    padding: 1em;
    padding-left: 20px;
    padding-top: 20px;
    flex: 1;

    bottom:0;
    background-color: #232528;
    font-size: 12px;

}
.ff{
    color: #dbdde0;
}
.col{
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

.colleft{
    flex: 1;

}
.colcenter{
    flex: 4;
}

#copyright{
    float: right;
    padding: 1em;
}

/*** bulma css elements ****/

.logincontainer{
    width: 500px;
    padding: 6em;
    margin: auto;
    text-align: center;
    border: 1px solid #bfc0c1;

}

.registration{
    margin: auto;
    padding: 6em;
    width: 530px;
    height: 650px;
    text-align: center;
    border: 1px solid #bfc0c1;

}

.regi_error{
    border: red 1px solid;
}
